#dashboard {
    width: 100%;
    margin: 0 auto;
    position: relative;
    color: #333333;
    .chart {
        background-color: transparent;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        font-size: 12px;
        .detail {
            width: 96%;
            margin-left: 4%;
            margin-top: 25px;
            text-align: right;
            color: #ffffff;
            .symbol {
                width: 33%;
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                text-align: center;
                line-height: 32px;
                img {
                    width: 58px;
                    height: 58px;
                    vertical-align: middle;
                }
                span {
                    color: #767677;
                    font-size: 48px;
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
            .price {
                width: 33%;
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                text-align: center;
                line-height: 32px;
                span {
                    color: #1b7bff;
                    font-family: DINMittelschrift;
                    font-size: 32px;
                }
            }
            .increase {
                width: 33%;
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                text-align: center;
                line-height: 32px;
                span {
                    font-family: DINMittelschrift;
                    color: #ff344d;
                    font-size: 32px;
                }
            }
            .seven-increase {
                width: 33%;
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                text-align: center;
                border-right: 1px solid #dedede;
                line-height: 32px;
                span {
                    font-family: DINMittelschrift;
                    color: #34ce5c;
                    font-size: 32px;
                }
            }

            .vol {
                width: 33%;
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                text-align: center;
                margin-top: 39px;
                line-height: 32px;
                span {
                    font-family: DINMittelschrift;
                    color: #0061fc;
                    font-size: 32px;
                }
            }
        }

        .content {
            width: 95%;
            height: 348px;
            margin: 38px auto 0 auto;
        }
    }

    .more-coin {
        background-color: #f5f5f5;
        padding-top: 58px;
        padding-bottom: 48px;
        font-size: 19px;
        line-height: 40px;
        color: #7d7d7d;
        text-align: center;
        img {
            width: 364px;
            height: 248px;
        }
    }

    .tip {
        width: 90%;
        margin: 21px auto 0 auto;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: #ffffff;
        opacity: 0.6;
    }
}