#open {
  .head {
    height: 390px;
    background: url(../../img/open/head.png) no-repeat center;
    background-size: contain;
    text-align: center;

    h2 {
      margin-left: auto;
      margin-right: auto;
      padding-top: 168px;
      width: 90%;
      font-size: 48px;
      line-height: 43px;
      color: #fff;
    }

    h3 {
      margin-left: auto;
      margin-right: auto;
      margin: 29px;
      width: 90%;
      font-size: 29px;
      font-weight: normal;
      line-height: 43px;
      color: #fff;
    }
  }

  .main {
    .content {
      margin-left: 60px;
      margin-right: 60px;
      padding-bottom: 60px;

      .block {
        margin-top: 40px;
        font-size: 22px;
        line-height: 38px;
        color: #3b3b3b;

        a {
          color: #28a5ff;
          word-wrap: break-word;
        }

        img {
          margin-top: 10px;
          width: 100%;
        }
      }
    }
  }
}
