#loading {
    /deep/ .van-toast {
        font-size: 24px;
        color: #6cf;
    }

    .l {
        font-size: 24px;
        color: #6cf;
    }

    &.loading {
        font-size: 24px;
        color: #6cf;
    }
    
    .loading {
        font-size: 24px;
        color: #6cf;
    }
}