#top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #1E2234;
  transition: top .5s ease, background-color 0.5s ease;
  z-index: 8;

  &.no_show {
    display: none;
  }

  &.transparent {
    background-color: transparent;
  }

  &.fixed {
    position: fixed;
  }

  &[data-scrolldir="down"] {
    top: -112px;
  }
  &[data-scrolldir="up"] {
    top: 0;
  }
  
  .logo {
    display: block;
    height: 100%;
    line-height: 112px;
    float: left;
    margin-left: 34px;
    img {
      width: 50px;
      height: 50px;
      vertical-align: middle;
    }

    span {
      margin-left: 6px;
      font-size: 30px;
      line-height: 24px;
      color: #fff;
      vertical-align: middle;
    }
  }

  .nav {
    height: 112px;
    float: right;
    margin-right: 39px;

    li {
      position: relative;
      display: inline-block;
      min-width: auto;
      margin: 0 10px;
      height: 112px;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      a {
        font-size: 24px;
        color: #fff;
        line-height: 112px;

        span {
          line-height: 24px;
        }

        &:after {
          content: '';
          display: block;
          width: 0px;
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          margin: 0 auto;
          height: 2Px;
          background-color: #fff;
          transition: width 0.3s;
        }
       
        &.router-link-active {
          background-color: transparent;
          color: #fff;
          &:after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            height: 2Px;
            background-color: #fff;
          }
        }
      }
    }

    .purchase-dropdown {
      height: 112px;
      line-height: 112px;
      vertical-align: middle;
    }
  }
}
