#record {
  .content {
    width: 96%;
    margin: 0 auto;
    padding-bottom: 31px;
    
    img {
      margin-bottom: 8px;
      width: 166px;
	    height: 166px;
    }

    .tip {
      font-size: 20px;
      color: #979ea5;
      text-align: center;

      &.red {
        color: #ff4242;
      }

      b {
        color: #555e65;
      }

      a {
        color: #979ea5;
      }
    }

    .block {
      margin-top: 28px;
      
      .tip {
        margin-left: 38px;
        text-align: left;
      }

      .left {
        width: 50%;
        display: inline-block;
        .row {
          padding-left: 36px;
        }
      }

      .right {
        width: 50%;
        display: inline-block;
        box-sizing: border-box;
        border-left: solid 1Px #1e2234;

        .row {
          padding-left: 72px;
        }
      }

      .row {
        font-size: 20px;
        line-height: 26px;
        text-align: left;
        display: flex;
        color: #fff;
        align-content: center;
        margin-bottom: 36px;

        &:last-child{
          margin-bottom: 0;
        }
        .label {
          
        }
        .value {
          flex: 1;
          margin-left: 6px;
        }
      }

      .count-down-box {
        position: absolute;
        right: 20px;
        top: 24px;
        width: 280px;
        height: 36px;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        background-color: #565656;
        align-items: center;
        font-size: 18px;
        color: #fff;
        overflow: hidden;

        .count-down-box-bg {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          background-color: #6722ff;
        }

        .count-down-box-content {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          line-height: 36px;
          z-index: 10;

          .count-down {
            display: inline-block;
            font-size: 24px;
            color: #fff;
          }
        }
      }

      .balance {
        font-size: 24px;
        color: #fff;
        span {
          color: #1b7bff;
          font-size: 34px;
          vertical-align: middle;
          margin-right: 6px;

          &.red {
            font-size: 28px;
            color: #ff0000;
          }
        }
      }

      /deep/ .van-tabs.tabs {
        &.van-tabs--card {
          &>.van-tabs__wrap {
            height: 49px;
            .van-tabs__nav {
              height: 49px;
            }
            .van-tab {
              height: 49px;
              border-color: #121520 !important;
            }
          }
            
        }
        .tab {
          border: none;
        }
      }

      table {
        width: 100%;
        position: relative;
        border-collapse: collapse;

        &.large-table {
          min-width: 720px;
        }

        th {
          // position: sticky;
          // background-color: red;
          top: 0;
        }
        td {
        }
      }

      .list {
        margin: 0 auto;
        width: 530px;
        height: 250px;
        overflow: scroll;

        .item {
          font-size: 20px;
          height: 50px;
          line-height: 50px;
          background-color: #1e2234;
          opacity: 0.87;

          &.my {
            color: #34ce5c;
          }
          &.header {
            // background-color: red;
          }

          &:nth-child(even){
            background-color: transparent;
          }

          .address {
            width: 160px;
            text-align: left;
          }
          
          .amount {
            width: 160px;
            text-align: left;
          }

          .reward {
            width: 120px;
            text-align: left;
          }
        }
        
      }
    }

    .btn-group {
      display: flex;
      justify-content: space-around;
      .btn-price {
        height: 22px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .label {
          font-size: 36px;
          color: #555e65;
          text-align: center;
        }
      }
    }
    .counter {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .minus, .plus {
        width: 66px;
        height: 66px;
        border: solid 1PX #b2b2b2;
        text-align: center;
        line-height: 66px;
        color: #555e65;
      }
      .input-box {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1PX #b2b2b2;
        height: 91px;
        min-width: 268px;
        padding: 0 20px;
        .label {
          font-size: 36px;
          color: #108fea;
        }
        .tip {
          font-size: 20px;
          color: #979ea5;
          margin-left: 20px;
        }
      }
    }

    .invite-code {
      margin-left: 30px;
      label {
        font-size: 24px;
        color: #282828;
      }
      input {
        margin-left: 14px;
        width: 112px;
        height: 46px;
        font-size: 24px;
        color: #282828;
        border: solid 1PX #b3b3b3;
        text-indent: 14px;
      }
      .tip {
        margin-left: 14px;
        font-size: 20px;
        color: #ff0000;
      }
    }

    .btn {
      margin: 33px auto 21px auto;
      width: 533px;
      height: 76px;
      background-color: #6722ff;
      border-radius: 63px;
      color: #ffffff;
      text-align: center;
      font-size: 28px;
      line-height: 76px;

      &.opacity {
        opacity: 0.6;
      }

      .icon0 {
        margin-right: 10px;
        width: 30px;
        height: 31px;
        vertical-align: middle;
      }

      .icon1 {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        vertical-align: middle;
      }

      .icon2 {
        margin-right: 10px;
        width: 27px;
        height: 28px;
        vertical-align: middle;
      }
    }
  }
}